@charset"utf-8";

/* header */
header{
  display:flex;
  justify-content: space-between;
  font-size:14.4px;
  padding:0 4%;
  max-width: 960px;
  margin: 0 auto;
}


ul{
  list-style:none;
  display: flex;
  gap:16px;
  padding:10px 0;
}

ul a{
 text-decoration: none;
  color: inherit;
}

.Bike1{
  display: block;
  width: 100%;
    height: 600px;
    object-fit: cover;
}

/* main */
main{
padding: 100px;
}

.hero{
  text-align: center;
}

h2{
  display: inline-block;
  /* margin:0px; */
  font-size:32px;
 border-bottom: solid 1px #383e45;
}

.kakeru{
  margin-top:60px;
display:flex;
gap:30px;
justify-content: center;
    align-items: center;
}

.KAKERU{
  width:100px;
  height:100px;
  border-radius: 50%;
}

.hero h3{
  text-align: left;
  margin:10px 0;
}

.hero p{
  text-align: left;
}

.features{
  text-align: center;
}

.features h2{
margin-top:100px;
}

#Bicycle ul{
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

#Bicycle li{
  width: 32%;
}

img{
  max-width:100%;
}

footer{
 text-align:center;
}

@media (max-width:600px){
.Bike1{
  height: calc(100vh - 60px)
}

.kakeru{
  flex-direction: column;
}

#Bicycle ul{
  flex-direction: column;
}

#Bicycle li {
    width: 100%;             
  }

}